<ion-view view-title="Polling">
 <ion-content>
    <div class="card">
        <div class="item item-divider">
        Bar Chart           
        </div>
        <div class="item item-text-wrap">
            <canvas id="bar" class="chart chart-bar" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
        </div>
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <button class="button button-positive button-block" ng-click="getpop()">Vote</button>
  </ion-content>
</ion-view>
