<ion-view title="Complain App">
    <ion-content padding="true" scroll="false" class="has-header has-footer">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="type your Email" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="type your Password" ng-model="loginData.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 30px;"></div>
            <button class="button button-stable button-block" ng-click="doLogin(loginData)">Log in</button>
            <div class="spacer" style="height: 30px;"></div>
            <a href="#/signup" class="button button-balanced button-clear button-block ">Or create an account</a>
            <div class="spacer" style="height: 30px;"></div>
            <button class="button button-positive button-block  icon-left ion-social-facebook" ng-click="fbLogin()">Connect Facebook</button>
        </form>
    </ion-content>
</ion-view>